[submodule "college/jumpstart"]
	path = college/jumpstart
	url = git@github.com:kettlovahr/jumpstart
[submodule "college/checkerboard"]
	path = college/checkerboard
	url = git@github.com:kettlovahr/checkerboard
[submodule "college/tictactoe"]
	path = college/tictactoe
	url = https://github.com/kettlovahr/tictactoe.git
[submodule "college/fmco-calc"]
	path = college/fmco-calc
	url = https://github.com/kettlovahr/fmco-calc

